@{
    ViewBag.Title = "Repository";
}
<h2>@ViewBag.Title.</h2>

<p>Since it wasn't letting me commit to a new repository, here is the old one with an updated version of the code.</p>
<a href="https://github.com/hancharh/mvcmusiclab-haley">The repository can be found here.</a>
