<link href="~/Styles/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="StyleSheet.css">
<link rel="fonts/glyphicons-halflings-regular.tff">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> <span class="glyphicon glyphicon-music"> Haley's Music App </span> </h1>
    <p>Welcome to a slightly improved, but still barely functional, app for music stuff.</p>
    <p><a href="/Albums/Index" class="btn btn-primary btn-lg">Go to the music index &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2><span class="glyphicon glyphicon-cd"> Albums</span></h2>
        <p><a class="btn btn-default" href="/Albums" id="btn1">Browse by Album &raquo;</a></p>
        <p>
            View a list of available albums in the database. Browse the complete catalog of albums. Includes full information about the artist, genre, and price.
        </p>


    </div>
    <div class="col-md-3">
        <h2><span class="glyphicon glyphicon-headphones"> Genres</span></h2>
        <p><a class="btn btn-default" href="/Albums/ViewGenres" id="btn2">Browse by Genre &raquo;</a></p>
        <p>View genres in the database. See what music genres are available and find albums in your favorite genre.</p>
        
    </div>
    <div class="col-md-3">
        <h2><span class="glyphicon glyphicon-user"> Artists</span></h2>
        <p><a class="btn btn-default" href="/Albums/ViewArtists" id="btn3">Browse by Artist &raquo;</a></p>
        <p>View the artists currently in the database. Browse the artist list to find your favorites and see what albums they have released.</p>
        
    </div>

    <div class="col-md-3">
        <h2><span class="glyphicon glyphicon-play"> Playlists</span></h2>
        <p><a class="btn btn-default" href="/Albums/Playlists" id="btn4" background-color="#463960 !important">Browse Playlists &raquo;</a></p>
        <p>View nonexistent playlists created by users.</p>

    </div>
</div>